<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" formControlName="firstNameControl">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" formControlName="lastNameControl">
  </div>

  <div class="form-group">
    <label for="language">User Name:</label>
    <input id="userName" type="text" formControlName="userNameControl">
  </div>

  <div class="form-group">
    <label for="experience">E-mail:</label>
    <input id="email" type="email" formControlName="emailControl">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="passwordControl">
  </div>

  <div class="button-group">
    <button type="submit" class="submit-btn" [disabled]="!registerForm.valid">Register</button>
    <button type="button" class="submit-btn" (click)="resetRegister()">Reset</button>
  </div>

</form>
