<div class="form-container">
  <h2 class="login-title">Login</h2>
  <form>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Enter your user name" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" required>
    </div>
    <div class="button-group">
      <button type="submit" class="submit-btn">Login</button>
    </div>
    
  </form>
  <p class="register-text">Don't have an account? <a routerLink="/register" routerLinkActive="active"> Register </a></p>  
</div>
<router-outlet></router-outlet>
