<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2 class="login-title">Login</h2>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input id="email" type="email" formControlName="emailControl">
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="passwordControl">
    </div>

    <div class="button-group">
      <button type="submit" class="submit-btn" [disabled]="!loginForm.valid">Login</button>
      <button type="button" class="submit-btn" (click)="cancelLogin()">Cancel</button>
    </div>  
    <p class="register-text">Don't have an account? <a routerLink="/register" routerLinkActive="active"> Register </a></p>  
  </form>
</div>
<router-outlet></router-outlet>



