<form [formGroup]="developerForm" (ngSubmit)="onSubmit()" class="form-container">

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" formControlName="firstNameControl">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" formControlName="lastNameControl">
  </div>

  <div class="form-group">
    <label for="experience">Years of Experience:</label>
    <input id="experience" type="text" formControlName="yearsOfExperienceControl">
  </div>

  <div class="form-group">
    <label for="language">Favorite Language:</label>
    <input id="language" type="text" formControlName="favoriteLanguageControl">
  </div>

  <div class="button-group">
    <button type="submit" class="submit-btn" [disabled]="!developerForm.valid">Submit</button>  
    <button type="button" class="submit-btn" (click)="resetDeveloper()">Reset</button>
  </div>

</form>
