<nav>
    <ul class="nav-links">      
        <li><a routerLink="/dev" routerLinkActive="active">Developer</a></li>
        <li><a routerLink="/dev-create" routerLinkActive="active">Create Developer</a></li>
    </ul>

    <div class="user-section">
        @if (authService.currentUserName) {
            <div>{{ authService.currentUserName }}</div>
            <a (click)="logout()" href="">Logout</a>
        }
        @else {
            <a routerLink="/register" routerLinkActive="active">Register</a>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        }
    </div>
</nav>

<router-outlet></router-outlet>
